<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEMESTERS</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('./partials/nav', {isAuthenticated}) %> 
    <section id="home">
        <h1>Definitely, A Hospital!</h1>
    </section>
</body>
</html>