<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEMESTERS</title>
    <link rel="stylesheet" href="/main.css">

</head>
<body>
    <%- include('partials/nav', {isAuthenticated}) %>
    <section id="request">
        <% if(posted) {%>
            <p>Your registration is successful</p>
        <% } else { %>
            <form action="/request" method="POST">
                <h3>REGISTER FOR 2021-2022 SEMESTER EXAM</h3>
                <div class="field">
                    <label for="doctor">SEMESTER</label>
                    <select name="doctor" id="doctor">
                        <option value="SEM 1">SEM 1</option>
                        <option value="SEM 2">SEM 2</option>
                        <option value="SEM 3">SEM 3</option>
                        <option value="SEM 4">SEM 4</option>
                        <option value="SEM 5">SEM 5</option>
                        <option value="SEM 6">SEM 6</option>
                        <option value="SEM 7">SEM 7</option>
                        <option value="SEM 8">SEM 8</option>
                    </select>
                </div>
                <button type="submit">REGISTER</button>
            </form>
        <% } %>
    </section>
</body>
</html>